body {
    margin: 0px auto;
    max-width: 1024px;
    text-align: left;
    background: #eee;
}

img.logo {
    vertical-align: bottom;
}

input.query-box {
    width: 500px;
}

div.content {
    text-align: left;
}

ol.schres {
    line-height: 1.2em;
}

ol.schres li {
    margin-bottom: 10px;
}

ol.schres div.title a {
    font-size: medium;
}

textarea#pkg {
    width: 800px;
    height: 500px;
}

.schres div.num {
    display: inline-block;
    width: 2em;
    margin-left: -2.5em;
    margin-right: 0.5em;
    text-align: right;
}


.schres li {
    list-style-type: none;
}

.schres .title a, .schres .title a:link, .schres .title a:visited {
    color: #12c;
}

.schres .info, .schres .info a {
    color: #093;
}

.schres .info a {
    text-decoration: none;
}

div.pages {
    margin-bottom: 10px;
}

.pages span.prevpage {
    display: inline-block;
    width: 1em;
    text-align: center;
}

.pages span.prevpage a {
    text-decoration: none;
}

.pages .page {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.pages a.page {
    border: 1px solid gray;
    border-radius: 5px;
    text-decoration: none;
}

.pages a.page:hover {
    background: gray;
    color: white;
}

.code {
    font-family: courier new;
}

header {
    border-bottom: 1px solid gray;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 25px;
    padding-left: 2px;
}

header a, footer a {
    text-decoration: none;
}

div.hdsch {
    float: right;
    margin-top: -2px;
}

div.hdsch input[type="search"] {
    width: 80px;
    transition: width 0.1s ease-in;
    opacity: 0.5;
}

div.hdsch input[type="search"]:focus {
    background: white;
    width: auto;
    width: 300px;
    opacity: 1.0;
}

footer {
    margin-top: 10px;
    border-top: 1px solid gray;
    padding-bottom: 20px;
    text-align: center;
}

tfoot tr td {
    border-top: 1px solid black;
    border-bottom: 3px double black;
}

td.numcell {
    font-family: courier new;
    text-align: right;
}

div.half {
    width: 49%;
    height: auto;
    display: inline-block;
}

div.desc pre {
    background: #e0e0e0;
    margin: 0 0 10px;
    padding: 5px;
    font-size: 13px;
    border-radius: 5px;
    
    font-family: monospace;
}

pre.readme {
    font-size: 13px;
}

div.toplist {
    float: left;
    width: 240px;
    background: #ddd;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

div.toplist div.listname {
    border-bottom: 1px solid gray;
}

div.toplist ol {
    margin: 0px;
    padding: 0px;
    padding-left: 25px;
}

div.toplist li.line {
    height: 25px;
    vertical-align: bottom;
}

div.toplist div.pkg {
    display: inline-block;
    
    width: 150px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

div.toplist div.listname div.pkg {
    width: 175px;
}

div.toplist div.pkg span {
    display: inline-block;
    width: 400px;
    height: 20px;
}

div.toplist div.info {
    //float: none;
    display: inline-block;
    width: 60px;
    height: 18px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 90%;
    vertical-align: bottom;
}

.clearboth {
    clear: both;
}


@media only screen and (max-device-width: 480px) {
body {
    margin: 0px auto;
    width: 100%;
}

div.main {
    padding: 0px 0px 0px 2px;
    overflow: hidden;
}
input.query-box {
    width: auto;
}

div.hdsch {
    padding-right: 2px;
}

div.hdsch input[type="search"]:focus {
    background: white;
    width: 150px;
}
h1 {
    font-size: 1em;
    padding-left: 2px;
}

h1 img {
    height: 16px;
}

div.taframe {
    padding: 0px;
}

textarea#pkg {
    width: 95%;
    height: 200px;
}
}