body {
    margin: 0px auto;
    width: 1024px;
    text-align: left;
    background: #eee;
}

img.logo {
    vertical-align: bottom;
}

input.query-box {
    width: 500px;
}

div.content {
    text-align: left;
}

ol.schres li {
    margin-bottom: 10px;
}

ol.schres div.title a {
    font-size: medium;
}

textarea#pkg {
    width: 800px;
    height: 500px;
}

.schres div.num {
    display: inline-block;
    width: 2em;
    margin-left: -2.5em;
    margin-right: 0.5em;
    text-align: right;
}


.schres li {
    list-style-type: none;
}

.schres .title a, .schres .title a:link, .schres .title a:visited {
    color: #12c;
}

.schres .info, .schres .info a {
    color: #093;
}

.schres .info a {
    text-decoration: none;
}

div.pages {
    margin-bottom: 10px;
}

.pages span.prevpage {
    display: inline-block;
    width: 1em;
    text-align: center;
}

.pages span.prevpage a {
    text-decoration: none;
}

.pages .page {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.pages a.page {
    border: 1px solid gray;
    border-radius: 5px;
    text-decoration: none;
}

.pages a.page:hover {
    background: gray;
    color: white;
}

.code {
    font-family: courier new;
}

header {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

header a, footer a {
    text-decoration: none;
}

footer {
    margin-top: 10px;
    border-top: 1px solid gray;
    padding-bottom: 20px;
    text-align: center;
}

tfoot tr td {
    border-top: 1px solid black;
    border-bottom: 3px double black;
}

td.numcell {
    font-family: courier new;
    text-align: right;
}

div.half {
    width: 49%;
    height: auto;
    display: inline-block;
}

div.desc pre {
    background: #e0e0e0;
    margin: 0 0 10px;
    padding: 5px;
    font-size: 13px;
    border-radius: 5px;
    
    font-family: monospace;
}

pre.readme {
    font-size: 13px;
}