{{template "header.html" "About GCSE"}}
{{define "body"}}
### Motivation

When I began [Go](http://golang.org/), I loved it. The integrated tooling for
importing directly from version control systems is exceptional useful. It allows
projects to be connected in an elegant manner. 

With so many brillant people contributing to the Go ecosystem, there is a lot of
"reinventing the wheel" happening.  Due to the way Go does imports, a central 
clearing house like Maven or NPM is simply not needed.  However, what is needed 
is a way to find the packages you want to import, and that is why GCSE was 
created. 
    
A search engine specifically designed for Go can help in the following ways:

* By analyzing the importing relations between projects, popular projects can be 
found. This gives a better ranking than general search engine.
* Structured data for each package can be extracted: package path, name, 
synopsis, documentation. Match rank can be calculated in a better way.
* Package comments can be parsed and indexed.
* Stars (or watchers) of some sites are crawled to further help ranking.

### Project

This is an [open source project]("https://github.com/daviddengcn/gcse") hosted
on [github](http://github.com/)

If you find a bug, have a new idea or any other suggestion, please submit 
an [issue](https://github.com/daviddengcn/gcse/issues).

While creating GCSE, several supporting projects were created and are published.
Feel free to use them! 

* [go-index](https://github.com/daviddengcn/go-index): a text indexing package,
serving the index/search function in GCSE.
* [go-rpc](https://github.com/daviddengcn/go-rpc): an RPC service through HTTP 
protocol.

### Acknowledgement

GCSE [imports](/view?id={{urlquery "github.com/daviddengcn/gcse"}}) (or forks) the 
following projects:

* [gddo](https://github.com/garyburd/gddo) by
[Gary Burd](http://gary.beagledreams.com/) for crawling. It's forked (for 
modification) to my [gddo](https://github.com/daviddengcn/gddo) project.
* [go-stem](https://github.com/agonopol/go-stem) by 
[Alex Gonopolskiy](https://github.com/agonopol) for stemming.
{{end}}
{{markdown "body"}}
{{template "footer.html"}}
