{{template "header.html" .UIUtils.Slice "Add Packages" "add"}}
<div>
    <form method="post" action="add">
		<div class="input-group">
	        <h4><label for="pkg">Packages:</label></h4>
	        <div>
	            <textarea id="pkg" class="form-control" name="pkg" value="" placeholder="Import path to the packages to add..." autofocus></textarea>
	        </div>
	        <div>
	            <button class="btn btn-default"> <span class="glyphicon glyphicon-plus"></span> add</button>
	        </div>
		</div>
    </form>
</div>
<script>
window.onload = function() {
    ga('send', 'event', 'add', 'add', 'add');
};
</script>
{{template "footer.html"}}
